AM_Client/Service References/RealEstateService/RealEstateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49921/RealEstateService/RealEstateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AM_Backend.RealEstateService" />
  <xs:element name="GetListings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AM_Backend.RealEstateService" minOccurs="0" name="GetListingsResult" nillable="true" type="q1:ArrayOfRealEstateListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>