AM_Client/Service References/AuthService/AuthService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AM_Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AM_Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthObject" nillable="true" type="tns:AuthObject" />
</xs:schema>